body {
    font-family: Arial, sans-serif; 
    margin: 0;
    display: flex;
    justify-content: space-between;
    background-color: #D9D8DB;
}

.mingcute--search-3-line::after {
    display: inline-block;
    width: 2.5em;
    height: 2.5em;
    vertical-align: -0.125em;
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='m12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035q-.016-.005-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427q-.004-.016-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093q.019.005.029-.008l.004-.014l-.034-.614q-.005-.018-.02-.022m-.715.002a.02.02 0 0 0-.027.006l-.006.014l-.034.614q.001.018.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z'/%3E%3Cpath fill='%23000000' d='M10.5 4a6.5 6.5 0 1 0 0 13a6.5 6.5 0 0 0 0-13M2 10.5a8.5 8.5 0 1 1 15.176 5.262l3.652 3.652a1 1 0 0 1-1.414 1.414l-3.652-3.652A8.5 8.5 0 0 1 2 10.5M9.5 7a1 1 0 0 1 1-1a4.5 4.5 0 0 1 4.5 4.5a1 1 0 1 1-2 0A2.5 2.5 0 0 0 10.5 8a1 1 0 0 1-1-1'/%3E%3C/g%3E%3C/svg%3E");
  }

.sidebar {
    margin-top: 60px;
    width: 500px;
    background-color: #e8d3f1;
    border-right: 1px solid #ddd;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.sidebar ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sidebar ul li {
    margin: 10px 0;
    padding: 10px;
    background-color: #dc9090;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px #00000040;
}
.project {
    margin-top: 100px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #D7D8AF;
    box-shadow: 0px 4px 4px 0px #00000040;

}
.task {
    margin-left: 20px;
}
.progress-bar {
    width: 100%;
    background-color: #f0f0f0;
}
.progress {
    background-color: #73a075;
    height: 20px;
}

.navbar{
    display: flex;
    background-color: purple;
    padding: 10px;
    position: fixed;
    width: 100%;
    top:0;
}

ul{
    list-style-type: none;
    display: flex;
    align-items: center;
}

li a{
    text-decoration: none;
    color: white;
    justify-content: space-between; 
    padding-right: 10px;
}

li a:hover{
    color: black;
}

.projectName{
    border-radius: 100px;
    border-color: black;
    
}